<div {{bindAttr class="iconClass service.statusClass"}} {{action "iconClick"}}>
  {{#if service.isGlowing}}
   <div class="glow_ball"></div>
  {{/if}}
</div>

{{view App.EditServiceView serviceBinding="service"}}

