<script type="text/x-handlebars">
  {{#view App.WatchtowerView}}
   <img src="/assets/tower.png" height="100px" width="50px" />
  {{/view}}    


{{#each App.ServiceController}}
  {{#view App.ServiceView contentBinding="this"}}
    <p class="service">service</p>
  {{/view}}
{{/each}}
</script>


  <!-- {{#collection contentBinding="App.serviceController" }} -->
  <!-- <p class="service">service</p> -->
  <!-- {{/collection}} -->
