<script type="text/x-handlebars" data-template-name="child_view">
  <span>Child span</span>
</script>

<script type="text/x-handlebars" data-template-name="watchtower">
  <div class="watchtower">
    OMG COOL {{wot}}
    {{view App.ChildView}}
  </div>
</script>
