<script type="text/x-handlebars">
  {{#view App.WatchtowerView}}
  <p id="watchtower"><img src="/assets/tower.png" height="100px" width="50px" /></p>
  {{/view}}    

  {{#collection contentBinding="App.serviceController" }}
  <p class="service">service</p>
  {{/collection}}
</script>

<!-- {{#each App.ServiceController}} -->
<!--   {{#view App.PersonView contentBinding="this"}} -->
<!--     {{content.firstName}} {{content.lastName}} -->
<!--   {{/view}} -->
<!-- {{/each}} -->
