<script type="text/x-handlebars">
  {{#view App.WatchtowerView}}
   <img src="/assets/tower.png" height="100px" width="50px" />
  {{/view}}    

  {{#view App.ListServicesView}}
   {{#each services}}
     {{view App.ServiceView serviceBinding="this"}}
   {{/each}}
  {{/view}}

  {{#view App.ServiceMenu}}
    {{#with service}}
     {{view Ember.TextField valueBinding="url" placeholder="Serviceurl"}}
    {{/with}}
  {{/view}}


</script>


  <!-- {{#collection contentBinding="App.serviceController" }} -->
  <!-- <p class="service">service</p> -->
  <!-- {{/collection}} -->


  <!-- {{#each App.ServiceController}} -->
  <!--   {{#view App.ServiceView contentBinding="this"}} -->
  <!--     <p class="service">service</p> -->
  <!--   {{/view}} -->
  <!-- {{/each}} -->
